<div>
    <span>🎵 @Correct</span> /
    <span>❌ @Error</span> / 
    <span>⌚ @TimeElapsed.TotalSeconds</span>
</div>

<div>
    <NavLink href="" class="btn btn-info my-3">🏠 Menu</NavLink>
</div>

@code {
    [Parameter]
    public int Correct { get; set; }

    [Parameter]
    public int Error { get; set; }

    [Parameter]
    public TimeSpan TimeElapsed { get; set; }
}