@page "/"
@inject NavigationManager Nav;

<h1 class="fw-bolder">Musical Note</h1>

<a href="Basic" class="btn btn-outline-primary mt-5 mb-3" style="width:200px;">Basic</a> <br/>

<a href="Intermediate" class="btn btn-outline-danger my-3" style="width:200px;">Bass Clef </a>
<br />

<a href="Advanced" class="btn btn-danger my-3" style="width:200px;">Treble &amp; Bass Clef</a>
<br />

<a href="Notes" class="btn btn-outline-success my-3" style="width:200px;">Learn</a>

@code {

}
