@page "/"
@inject NavigationManager Nav;

<h1 class="fw-bolder">Musical Note</h1>

<a href="Basic" class="btn btn-outline-primary mt-5 mb-3" style="width:200px;">Basic</a> <br/>

<a href="Bass" class="btn btn-outline-primary my-3" style="width:200px;">Bass Clef </a>
<br />

<a href="BassTenor" class="btn btn-outline-primary my-3" style="width:200px;">Bass &amp; Tenor Clef </a>
<br />

<a href="BassTreble" class="btn btn-outline-danger my-3" style="width:200px;">Bass &amp; Treble Clef</a>
<br />

<a href="AllClef" class="btn btn-primary my-3" style="width:200px;">All Clef</a>
<br />

<a href="Notes" class="btn btn-outline-success my-3" style="width:200px;">Learn</a>

@code {

}
