@page "/"
@inject NavigationManager Nav;

<h1 class="fw-bolder">Musical Note</h1>

<a href="Basic" class="btn btn-outline-primary my-3" style="width:200px;">Basic</a> <br/>

<a href="Advanced" class="btn btn-outline-danger mb-3" style="width:200px;">Advanced</a>
<br />

<a href="Notes" class="btn btn-outline-success" style="width:200px;">Learn</a>

@code {

}
